:root {
	--dark-violet: hsl(256, 26%, 20%);
	--grayish-blue: hsl(216, 30%, 68%);
	--very-dark-violet: hsl(270, 9%, 17%);
	--dark-grayish-violet: hsl(273, 4%, 51%);
	--very-light-gray: hsl(0, 0%, 98%);
}

/* General configuration */
body {
	font-family: 'Karla', sans-serif;
}

h1,
h2 {
	font-family: 'DM Serif Display', serif;
}

.primary-title {
	font-size: 5.3vw;
	color: white;
	line-height: 1;
}

.secondary-title {
	font-size: 6rem;
	color: var(--very-dark-violet);
}

.primary-button {
	font-size: inherit;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.8em 2em;
	color: white;
	background-color: transparent;
	border: 2px solid white;
}

.primary-button:hover {
	color: var(--dark-violet);
	background-color: white;
}

.secondary-button {
	font-size: inherit;
	font-weight: inherit;
	text-transform: inherit;
	color: var(--very-dark-violet);
	background-color: #fff;
	padding: 0.8em 2em;
	border: 2px solid var(--very-dark-violet);
}

.secondary-button:hover {
	color: #fff;
	background-color: var(--very-dark-violet);
}

.border-top {
	display: block;
	width: 15em;
	margin-bottom: 5em;
	border-top: 1px solid white;
}

@media (max-width: 1000px) {
	.primary-title,
	.secondary-title {
		font-size: 4rem;
	}
}

@media (max-width: 750px) {
	.primary-title,
	.secondary-title {
		font-size: 3rem;
	}
}
/* General configuration */



/* Nav header configuration */
.nav-header {
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 1.5em 10em;
	color: var(--dark-grayish-violet);
	background-color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	font-size: 0.85rem;
}

.nav-header a {
	margin: 0 1.5em;
}

.nav-header a:hover {
	color: var(--very-dark-violet);
}

.menu-button,
.close-button {
	cursor: pointer;
}

.menu-button,
.close-button,
.menu-mobile {
	display: none;
}

.menu-button:hover,
.close-button:hover {
	filter: invert(100%);
}

.menu-mobile {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	color: white;
	background-color: var(--dark-violet);
	background-image: url("./images/bg-pattern-mobile-nav.svg");
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-size: contain;
	flex-direction: column;
	align-items: center;
	padding-top: 4em;
	font-size: 1.5rem;
}

.menu-mobile a {
	margin-bottom: 1.5em;
	text-transform: uppercase;
}

.menu-mobile a:hover {
	color: var(--grayish-blue);
}

.menu-mobile button {
	width: 90%;
}

@media (max-width: 1000px) {
	.nav-header {
		padding: 1em 5%;
	}
}

@media (max-width: 750px) {
	.links > *:not(.menu-button) {
		display: none;
	}

	.menu-button {
		display: initial;
	}
}
/* Nav header configuration */



/* Introductory section configuration */
.introductory-section {
	padding: 8em 10em;
	background-color: var(--dark-violet);
	position: relative;
	display: flex;
}

.introductory-section > *:not([class|="intro-bg"]) {
	flex: 1;
}

.introductory-text {
	padding-right: 1em;
	margin-bottom: 5em;
}

.introductory-text .border-top {
	border-top-color: var(--very-light-gray);
}

.introductory-text p {
	font-size: 1.4rem;
	line-height: 1.5;
	margin: 2em 0;
	color: var(--very-light-gray);
}

.introductory-background {
	position: relative;
}

.introductory-background img {
	width: 100%;
	position: absolute;
}

.intro-bg-left {
	width: 12%;
	height: 100%;
	position: absolute;
	bottom: -75%;
	left: 0;
	background-image: url("./images/bg-pattern-intro-left-desktop.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.intro-bg-right {
	width: 25%;
	height: 85%;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("./images/bg-pattern-intro-right-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 1000px) {
	.introductory-section {
		padding: 0;
		flex-direction: column-reverse;
	}

	.introductory-section .border-top {
		display: none;
	}

	.introductory-text {
		padding: 10% 5%;
		text-align: center;
		position: relative;
	}

	.introductory-background {
		max-width: 650px;
		margin: 0 auto;
	}

	.introductory-background img {
		position: relative;
	}

	.intro-bg-left {
		width: 30%;
		top: 0;
		background-image: url("./images/bg-pattern-intro-left-mobile.svg");
	}

	.intro-bg-right {
		width: 30%;
		top: unset;
		bottom: -50%;
		right: 0;
		background-image: url("./images/bg-pattern-intro-right-mobile.svg");
	}
}

@media (max-width: 650px) {
	.intro-bg-right {
		height: 100%;
		bottom: -90%;
		background-size: contain;
	}
}
/* Introductory section configuration */



/* Advantages section configuration */
.advantages-section {
	padding: 25em 10em 5em;
}

.advantages-section .border-top {
	border-top-color: var(--dark-grayish-violet);
}

.advantages-section h1 {
	margin-bottom: 1em;
}

.advantages-container {
	display: flex;
	justify-content: space-between;
}

.advantages-container > * {
	flex-basis: 30%;
}

.advantage-card img {
	margin-bottom: 2em;
}

.title-advantage-card {
	margin-bottom: 0.8em;
	font-weight: normal;
}

.subtitle-advantage-card {
	color: var(--dark-grayish-violet);
	font-size: 1.35rem;
	line-height: 1.5;
}

@media (max-width: 1000px) {
	.advantages-section {
		padding: 20% 5%;
	}
}

@media (max-width: 750px) {
	.advantages-section {
		text-align: center;
	}

	.advantages-section .border-top {
		width: 40%;
		margin: 0 auto;
		margin-bottom: 2em;
	}

	.advantages-container {
		flex-direction: column;
	}

	.title-advantage-card {
		font-size: 2rem;
	}

	.advantage-card {
		margin-bottom: 4em;
	}
}
/* Advantages section configuration */



/* Work section configuration */
.work-section {
	padding: 5em 10em;
	margin-bottom: 7em;
}

.work-container {
	padding: 5em;
	background-color: var(--dark-violet);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: contain;
}

.work-container h1 {
	flex-basis: 65%;
	min-width: 65%;
}

.work-container button {
	height: max-content;
}

@media (max-width: 1000px) {
	.work-section {
		padding: 0 5%;
	}
}

@media (max-width: 750px) {
	.work-container {
		flex-direction: column;
		padding: 20% 10%;
		background-image: url("./images/bg-pattern-how-we-work-mobile.svg");
	}

	.work-container h1 {
		margin-bottom: 1em;
	}
}
/* Work section configuration */



/* Footer configuration */
footer {
	padding: 5em 10em;
	background-color: var(--very-light-gray);
	background-image: url("./images/bg-pattern-footer-desktop.svg");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: -5% -30%;
}

.footer-header {
	display: flex;
	padding-bottom: 2em;
	margin-bottom: 3em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	justify-content: space-between;
}

.footer-header > img {
	width: 7em;
	height: 50%;
}

.social a {
	margin-left: 1em;
}

.social img:hover {
	filter: brightness(0);
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

.footer-title {
	color: var(--dark-grayish-violet);
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2em;
}

.footer-card a {
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-bottom: 1em;
}

.footer-card a:hover {
	text-decoration: underline
}

@media (max-width: 1000px) {
	footer {
		padding: 20% 5%;
	}
}

@media (max-width: 750px) {
	footer {
		background-image: url("./images/bg-pattern-footer-mobile.svg");
		background-size: contain;
		background-position: 0 0;
	}

	.footer-header {
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.footer-header img {
		margin-bottom: 2em;
	}

	.footer-container {
		flex-direction: column;
		text-align: center;
	}

	.footer-title {
		margin-top: 3em;
	}
}
/* Footer configuration */


.attribution {
	background-color: var(--very-light-gray);
	text-align: center;
	color: var(--dark-grayish-violet);
}

.attribution a {
	font-weight: bold;
	color: var(--dark-violet);
}

.attribution a:hover {
	text-decoration: underline;
}
